@if(isLoading) {
<app-progress-bar></app-progress-bar>
}

<div>
    <p-table [value]="trackDetails" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
        [totalRecords]="trackDetails.length" [paginator]="true" paginatorPosition="top"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [tableStyle]="{'min-width': '60rem'}">
        <ng-template pTemplate="caption">
            <div class="flex flex-row justify-content-between">
                <h3>Audio Details</h3>
                <h3>{{trackName}}</h3>
                <div class="flex flex-row align-items-center">
                    <div>
                        <label class="mx-2">
                            <span class="material-symbols-outlined">
                                equalizer
                            </span>
                        </label>
                        <p-inputSwitch [(ngModel)]="showFeaturesGraph" class="mr-2" pTooltip="Tempo Map"
                            tooltipPosition="bottom" />
                    </div>
                    <div *ngIf="trackDetails.length>0">
                        <label class="mx-2">
                            <span class="material-symbols-outlined">
                                footprint
                            </span>
                        </label>
                        <p-inputSwitch [(ngModel)]="showPaceGraph" class="mr-2" pTooltip="Pace History"
                            tooltipPosition="bottom" />
                    </div>
                    <div>
                        <p-button (click)="redirectBack()" class="mr-2" pTooltip="Back" tooltipPosition="bottom"
                        size="small" pTooltip="Back" tooltipPosition="bottom">
                        <span class="material-symbols-outlined">
                            undo
                        </span>
                    </p-button>
                    </div>
                    <!-- <p-button (click)="backToTracks()">Back</p-button> -->
                </div>
            </div>
            <div>
                <p-chart type="line" [data]="data1" [options]="options1" *ngIf="showFeaturesGraph" />
            </div>
            <div>
                <p-chart type="line" [data]="data2" [options]="options2" *ngIf="showPaceGraph" />
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Date</th>
                <th>Distance</th>
                <th>Pace</th>
                <th>Speed</th>
                <th>Omit</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-trackDetail let-index="rowIndex">
            <tr>
                <td>{{trackDetail.start_time | date: 'dd-MMM-yyyy hh:mm:ss a'}}</td>
                <td>{{ trackDetail?.distance | number:'1.2-2' }} km</td>
                <td>
                    @if(index>0){
                    @if(trackDetails[index-1].pace<trackDetails[index].pace || index===0){ <span
                        class="material-symbols-outlined text-green-800">
                        trending_up
                        </span>
                        }@else{
                        <span class="material-symbols-outlined text-red-600">
                            trending_down
                        </span>
                        }
                        }@else {
                        <span class="material-symbols-outlined text-green-800">
                            trending_up
                        </span>
                        }
                        {{ trackDetail?.pace }} /km
                </td>
                <td>
                    @if(index>0){
                    @if(trackDetails[index-1].speed<trackDetails[index].speed || index===0){ <span
                        class="material-symbols-outlined text-green-800">
                        trending_up
                        </span>
                        }@else{
                        <span class="material-symbols-outlined text-red-600">
                            trending_down
                        </span>
                        }
                        }@else {
                        <span class="material-symbols-outlined text-green-800">
                            trending_up
                        </span>
                        }
                        {{ trackDetail?.speed | number:'1.2-2'}} km/hr
                </td>
                <td>
                    <!-- <div class="flex flex-row justify-content-center"> -->
                    <span class="pi pi-check" *ngIf="trackDetail.isOmitted"></span>
                    <span class="pi pi-times" *ngIf="!trackDetail.isOmitted"></span>
                    <!-- </div> -->
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr class="">
                <td colspan="10" class="text-center">No history found for the current audio track.</td>
            </tr>
        </ng-template>

    </p-table>


</div>