@if(isLoading) {
<app-progress-bar></app-progress-bar>
}
<!-- Playlist Tracks List -->
<div class="palylist_table" *ngIf=" !showAudioFeatures">
    <p-table [value]="playlistTracks" [tableStyle]="{'min-width': '60rem'}">
        <ng-template pTemplate="caption">
            <div class="flex flex-row justify-content-between">
                <h3>Tracks</h3>
                <h3>{{currentPlayListName}}</h3>
                <div >
                    <p-button class="mr-2" severity="warning" (click)="updatePlaylist()">Save changes</p-button>
                    <p-button class="mr-2" severity="success" >Save as new</p-button>
                    <p-button (click)="backToPlaylists()">Back</p-button>
                </div>
                
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width:80px">
                </th>
                <th style="width:80px">
                </th>
                <th pSortableColumn="track.name">
                    Title
                    <!-- <p-sortIcon field="track.name" /> -->
                </th>
                <th pSortableColumn="track.artists[0].name">
                    Artist
                    <!-- <p-sortIcon field="track.artists[0].name" /> -->
                </th>
                <th pSortableColumn="track.duration_ms">
                    Duration
                    <p-sortIcon field="track.duration_ms" />
                </th>
                <th pSortableColumn="audioFeatures.tempo">
                    Tempo
                    <p-sortIcon field="audioFeatures.tempo" />
                </th>
                <th pSortableColumn="audioFeatures.danceability">
                    Danceability
                    <p-sortIcon field="audioFeatures.danceability" />
                </th>
                <th pSortableColumn="audioFeatures.energy">
                    Energy
                    <p-sortIcon field="audioFeatures.energy" />
                </th>
                <th pSortableColumn="audioFeatures.loudness">
                    Loudness
                    <p-sortIcon field="audioFeatures.loudness" />
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-track let-index="rowIndex">
            <tr [pReorderableRow]="index">
                <td>
                    <span class="pi pi-bars" pReorderableRowHandle></span>
                </td>
                <td><img [src]="track.track.album.images[0].url" style="width:60px;height: 60px;border-radius: 50%;">
                </td>
                <td>
                    <p-button class="anchor_btn" [label]="track.track.name" [link]="true" />
                    <!-- <p-button class="anchor_btn" (click)="getAudioFeatures(track.track.id, track.track.name)"
                        [label]="track.track.name" [link]="true" /> -->
                </td>
                <td>{{track.track.artists[0].name}}</td>
                <td>{{ formatTrackDuration(track?.track.duration_ms) }}</td>
                <td>{{ track?.audioFeatures?.tempo}}</td>
                <td>{{ track?.audioFeatures?.danceability }}</td>
                <td>{{ track?.audioFeatures?.energy }}</td>
                <td>{{ track?.audioFeatures?.loudness }}</td>
                <!-- <td>
                    <p-button class="anchor_btn" (click)="openInSpotify(track.track.external_urls.spotify)"
                        label="Open in Spotify" [link]="true" />
                </td> -->
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr class="">
                <td colspan="8">No tracks found in the current playlist.</td>
            </tr>
        </ng-template>
    </p-table>

</div>

<!-- Audio Features -->
<div class="" *ngIf="showAudioFeatures">
    <p-table [value]="audioFeatures" styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="caption">

            <div class="flex flex-row justify-content-between">
                <h3>Audio Features</h3>
                <h3>{{currentTrackName}}</h3>
                <p-button (click)="showAudioFeatures=false">Back</p-button>
            </div>

        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Danceability</th>
                <th>Energy</th>
                <th>Key </th>
                <th>Loudness</th>
                <th>Speechiness</th>
                <th>Acousticness</th>
                <th>Liveness</th>
                <th>Valence</th>
                <th>Tempo</th>
                <th>Duration</th>
                <!-- <th>Track Href</th>
                <th>Analysis Url</th> -->
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-audioFeature>
            <tr>
                <td>{{ audioFeature.danceability }}</td>
                <td>{{ audioFeature.energy }}</td>
                <td>{{ audioFeature.key }}</td>
                <td>{{ audioFeature.loudness }}</td>
                <td>{{ audioFeature.speechiness }}</td>
                <td>{{ audioFeature.acousticness }}</td>
                <td>{{ audioFeature.liveness }}</td>
                <td>{{ audioFeature.valence }}</td>
                <td>{{ audioFeature.tempo }}</td>
                <td>{{ formatTrackDuration(audioFeature.duration_ms) }}</td>
                <!-- <td>{{ audioFeature.track_href }}</td>
                <td>{{ audioFeature.analysis_url }}</td> -->
            </tr>
        </ng-template>
    </p-table>
</div>