@if(isLoading) {
<app-progress-bar></app-progress-bar>
}

<!-- <div class="" style="display: flex;justify-content: center;margin-top: 20px;margin-bottom: 10px;">

    <div class="m-2">
        <p-button (onClick)="callSpotifyAuth()">
            <i class="bi bi-spotify mr-2"></i> Link Spotify </p-button>
    </div>

    <div class="m-2">
        <p-button (onClick)="callStravaAuth()">
            <i class="bi bi-strava mr-2"></i>Link Strava </p-button>
    </div>
</div> -->


<!-- Activities List -->
<div *ngIf="!showDetails && !showAudioFeatures && showData">
    <p-table #dt1 [value]="athleteActivities" styleClass="p-datatable-gridlines"
     sortMode="multiple" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [totalRecords]="athleteActivities.length"
        [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [tableStyle]="{ 'min-width': '50rem' }" [sortField]="'start_date'" [sortOrder]="1">
        <ng-template pTemplate="caption">
            <div class="flex justify-content-between">
                <h2>Activities</h2>

                <p-button label="Clear" [outlined]="true" icon="pi pi-filter-slash" (onClick)="clear(dt1)" />
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name" >
                    Activity Name <p-sortIcon field="name" />
                </th>
                <th pSortableColumn="start_date">Start Date <p-sortIcon field="start_date" /></th>
                <th pSortableColumn="end_date">End Date <p-sortIcon field="end_date" /></th>
                <th pSortableColumn="sport_type">Sport Type <p-sortIcon field="sport_type" /></th>
                <th pSortableColumn="distance">Distance<p-sortIcon field="distance" /></th>
                <th pSortableColumn="elapsed_time">Duration<p-sortIcon field="elapsed_time" /></th>
                <th pSortableColumn="average_speed">Avg Speed<p-sortIcon field="average_speed" /></th>
                <th pSortableColumn="max_speed">Max Speed<p-sortIcon field="max_speed" /></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-activity>
            <tr >
                <td>
                    <p-button class="anchor_btn" (click)="getActivityDetails(activity.id,activity.start_date)"
                        [label]="activity.name" [link]="true" />
                </td>
                <td>{{ activity.start_date | date:'MMM d, y, h:mm:ss a' }}</td>
                <td>{{ activity.end_date | date:'MMM d, y, h:mm:ss a' }}</td>
                <td>{{ activity.sport_type }}</td>
                <!-- <td>{{ activity.distance | number:'1.2-2' }} km</td> -->
                <td>{{ activity.distance_km | number:'1.2-2' }} km</td>
                <!-- <td>{{ activity.elapsed_time }}</td> -->
                <td>{{ activity.duration_mins }}</td>
                <td>{{ activity.average_speed | number:'1.2-2'}} km/hr</td>
                <td>{{ activity.max_speed | number:'1.2-2'}} km/hr</td>
            </tr>
        </ng-template>
    </p-table>
</div>


<!-- Activity Details -->
<div class="mt-2" *ngIf="showDetails && !showAudioFeatures">
    <p-table #dt2 [value]="pairedTracks" styleClass="p-datatable-gridlines"
     [tableStyle]="{ 'min-width': '50rem' }" [sortField]="'start_time'" [sortOrder]="1" >
        <ng-template pTemplate="caption">

            <div class="flex flex-row justify-content-between">
                <h3>Activity Details</h3>
                <p-button (click)="showDetails=false">Back</p-button>
            </div>

        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Name</th>
                <th>Artist </th>
                <th>eBPM</th>
                <th>Duration</th>
                <th>Distance Start</th>
                <th>Distance End</th>
                <th>Distance</th>
                <th>Moving Time</th>
                <th>Pace </th>
                <th>Speed</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-track>
            <tr>
                <td>{{track.start_time | date: 'hh:mm:ss a'}}</td>
                <td>{{track.played_at | date: 'hh:mm:ss a'}}</td>
                <td>
                    <p-button class="anchor_btn" [disabled]="track.track.id===0"
                        (click)="getAudioFeatures(track.track.id)" [label]="track.track.name" [link]="true" />
                </td>
                <td>{{track.track.artists[0].name}}</td>
                <td>
                    {{track.audio_features?.tempo}}
                </td>
                <td>{{track.duration_mins}}</td>
                <td>{{track.distance_start | number:'1.2-2'}} km</td>
                <td>{{track.distance_end | number:'1.2-2'}} km</td>
                <td>{{track.distance | number:'1.2-2' }} km</td>
                <td>{{track.moving_time}}</td>
                <td>{{track.pace | number:'1.2-2'}} hr/km</td>
                <td>{{track.speed | number:'1.2-2'}} km/hr</td>
            </tr>
        </ng-template>
    </p-table>
</div>




<!-- Audio Features -->
<div class="mt-2" *ngIf="showAudioFeatures">
    <p-table #dt3 [value]="audioFeatures" styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="caption">

            <div class="flex flex-row justify-content-between">
                <h3>Audio Features</h3>
                <p-button (click)="showAudioFeatures=false">Back</p-button>
            </div>

        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Danceability</th>
                <th>Energy</th>
                <th>Key </th>
                <th>Loudness</th>
                <th>Speechiness</th>
                <th>Acousticness</th>
                <th>Liveness</th>
                <th>Valence</th>
                <th>eBPM</th>
                <th>Duration</th>
                <th>Track Href</th>
                <th>Analysis Url</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-audioFeature>
            <tr>
                <td>{{ audioFeature.danceability }}</td>
                <td>{{ audioFeature.energy }}</td>
                <td>{{ audioFeature.key }}</td>
                <td>{{ audioFeature.loudness }}</td>
                <td>{{ audioFeature.speechiness }}</td>
                <td>{{ audioFeature.acousticness }}</td>
                <td>{{ audioFeature.liveness }}</td>
                <td>{{ audioFeature.valence }}</td>
                <td>{{ audioFeature.tempo }}</td>
                <td>{{ audioFeature.duration_ms }}</td>
                <td>{{ audioFeature.track_href }}</td>
                <td>{{ audioFeature.analysis_url }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>