.all_listgrid_inner{
    cursor: pointer;
}
.all_listgrid_inner img{
    width:100%;
    border-radius: 10px;
}
.playlist-img-tb{
    height: 100px ;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
}
.playlist_pagetitle_section{
    position: relative;
}
