.all_listgrid_inner{
    cursor: pointer;
}
.all_listgrid_inner img{
    width:100%;
    border-radius: 10px;
}
.playlist-img-tb{
    height: 100px ;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
}
::ng-deep .btn-grp-custom button{
    outline: none;
    box-shadow: none;
}
.playlist_pagetitle_section{
    position: relative;
}
.btn_grp_short{
    position: absolute;
    right: 0;
    top: 20px;
}