@if(isLoading) {
<app-progress-bar></app-progress-bar>
}

@if(!isSpotifyLinked) {
<div class="m-2 p-1">
    <!-- <h3>No spofity account linked. Please, link a spotify account.</h3> -->

    <div class="card">
        <p-messages [(value)]="messages" [enableService]="false" />
    </div>

</div>
}@else {

<section class="playlist_pagetitle_section" *ngIf="!showTracks && !showAudioFeatures">
    <div class="flex flex-row align-items-center">
        <div class="flex flex-1 playlist_pagetitle justify-content-start m-2 px-5 py-2">
            <h2>Playlists</h2>
        </div>
        <!-- <div class="m-2 btn_grp_short"> -->
        <div class="m-2 ">
            <p-buttonGroup class="btn-grp-custom">
                <p-button icon="pi pi-th-large" (onClick)="changeGridView(true)" [outlined]="!isGrid" />
                <p-button icon="pi pi-list" (onClick)="changeGridView(false)" [outlined]="isGrid" />
            </p-buttonGroup>
        </div>
        <div>
            <p-button class="pr-2" [outlined]="true" icon="pi pi-filter-slash" (onClick)="clear()"
                pTooltip="Clear filter(s)" tooltipPosition="bottom" />
        </div>
    </div>
</section>

<!-- All Playlist GRID section starts -->
<section class="allplaylist" *ngIf="isGrid">
    <div class="grid m-0">

        @for(playlist of userPlaylists; track playlist.name) {
        <div class="col-2 all_list_grid p-3 justify-content-center"
            (click)="getPlayListTracks(playlist.tracks.href,playlist.name,playlist.id,playlist.snapshot_id)">
            <div class="all_listgrid_inner">

                @if (playlist.images===null) {
                <img src="images/defaultPlaylistImage.png">
                }@else {
                <img [src]="playlist?.images[0].url">
                }
                <h4>{{playlist.name }}</h4>
            </div>
        </div>
        }

    </div>
</section>
<!-- All Playlist GRID section ends -->

<!-- All Playlist LIST section starts -->
<section class="allplaylist" *ngIf="!isGrid">
    <p-table [value]="userPlaylists" [tableStyle]="{ 'min-width': '50rem' }" #tableRef>
        <ng-template pTemplate="header">
            <tr>
                <th> </th>
                <th pSortableColumn="name">
                    Playlist Name
                    <p-sortIcon field="name" />
                    <p-columnFilter type="text" field="name" display="menu" [showOperator]="false" />
                </th>
                <th pSortableColumn="minTempo">
                    Min Tempo
                    <p-sortIcon field="minTempo" />
                    <p-columnFilter type="numeric" field="minTempo" display="menu" [showOperator]="false" />
                </th>
                <th pSortableColumn="maxTempo">
                    Max Tempo
                    <p-sortIcon field="maxTempo" />
                    <p-columnFilter type="numeric" field="maxTempo" display="menu" [showOperator]="false" />
                </th>
                <th pSortableColumn="tracks.total">
                    Tracks
                    <p-sortIcon field="tracks.total" />
                    <p-columnFilter type="numeric" field="tracks.total" display="menu" [showOperator]="false" />
                </th>
                <th pSortableColumn="duration_ms">
                    Total Duration
                    <p-sortIcon field="duration_ms" />
                    <p-columnFilter type="text" field="duration_ms" display="menu" [showOperator]="false" />
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-playlist>
            <tr>
                <td>
                    @if (playlist.images===null) {
                    <img src="images/defaultPlaylistImage.png"
                        (click)="getPlayListTracks(playlist.tracks.href,playlist.name,playlist.id,playlist.snapshot_id)"
                        class="playlist-img-tb">
                    }@else {
                    <img [src]="playlist?.images[0].url" class="playlist-img-tb"
                        (click)="getPlayListTracks(playlist.tracks.href,playlist.name,playlist.id,playlist.snapshot_id)">
                    }
                </td>
                <td>
                    <p-button class="anchor_btn" [label]="playlist.name"
                        (click)="getPlayListTracks(playlist.tracks.href,playlist.name,playlist.id,playlist.snapshot_id)"
                        [link]="true" />
                </td>
                <td>{{(playlist.minTempo? playlist.minTempo : 0) | round }}</td>
                <td>{{(playlist.maxTempo? playlist.maxTempo : 0) | round }}</td>
                <td>
                    {{playlist.tracks.total}}
                </td>
                <td>{{playlist.duration_ms}}</td>
            </tr>
        </ng-template>
    </p-table>

</section>
<!-- All Playlist LIST section ends -->

























}