<p-card class="register-card p-3">

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <div class="signin_title">
            <span>Register</span>
        </div>

        <div class="input_top">
            <input pInputText id="firstName" formControlName="firstName" placeholder="First Name" />
        </div>

        <div class="input_top">
            <input pInputText id="lastName" formControlName="lastName" placeholder="Last Name" />

        </div>

        <div class="input_top">
            <input pInputText id="email" formControlName="email" placeholder="Email" />
        </div>

        <div class="custom-password input_top">
            <p-password formControlName="password" [toggleMask]="true" placeholder="Password" [feedback]="false" />
        </div>
        <div class="my-3 flex justify-content-center signin_btn input_top">
            <button type="submit" pButton pRipple label="Register" class="p-button-primary">
            </button>
        </div>

        <div class="form-link">
            <span>Already have an account? <a href="" class="link login-link">Login</a></span>
        </div>

        <div class="orline"></div>
        <div class="p-2">
            <div class="login_google">
                <asl-google-signin-button type='standard' text="signup_with" size='large' [width]="250">
                </asl-google-signin-button>
            </div>
            <div class="login_fb">
                <p-button size="small" label="Sign up with Facebook" styleClass="facebook-button" icon="pi pi-facebook"
                    (click)="signInWithFB()" />
            </div>
        </div>
    </form>
</p-card>