@if(isLoading) {
<app-progress-bar></app-progress-bar>
}


<div class="flex flex-row flex-wrap signin_mainpage" *ngIf="!isUserLoggedIn">
 <!-- <div class="flex flex-row flex-wrap signin_mainpage">  -->


    <p-card  class=" login-card p-3" >
        <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">

            <div class="signin_title">
                <span>Sign In</span>
            </div>
            <div class="input_top">
                <input pInputText id="username" formControlName="email" placeholder="Email" />
            </div>
            <div class="custom-password input_top">
                <p-password formControlName="password" [toggleMask]="true" placeholder="Password" [feedback]="false" />
                   
            </div>

            <div class="flex justify-content-center signin_btn input_top">
                <button type="submit" pButton pRipple label="Sign In" class="p-button-primary">
                </button>
            </div>

            <div class="form-link">
                <span>Don't have an account? <a href="" class="link signup-link" (click)="showSignUp=true">Signup</a></span>
              </div>

            <div class="orline"></div>
            <div class="p-2">
                <div class="login_google">
                    <asl-google-signin-button type='standard' text="continue_with" size='large' [width]="250">
                    </asl-google-signin-button>
                </div>
                <div class="login_fb">
                    <p-button size="small" label="Continue with Facebook" styleClass="facebook-button"
                        icon="pi pi-facebook" (click)="signInWithFB()" />
                </div>
            </div>
        </form>
    </p-card>

    <app-register ></app-register>

</div>