<div class="topnav flex flex-row justify-content-between p-2" *ngIf="isUserLoggedIn" >

    <div class="ml-2">
        @if (isUserLoggedIn) {
        @if (sidebarVisible) {
        <p-button (click)="sidebarVisible = false" icon="pi pi-times" severity="secondary">
        </p-button>
        }
        @else {
        <p-button (click)="sidebarVisible = true" icon="pi pi-bars" severity="secondary">
        </p-button>
    }
        }
    </div>
    <div></div>
    <div class="mr-2">
    </div>
    
</div>


<p-sidebar [(visible)]="sidebarVisible">
    <ng-template pTemplate="headless">
        <div class="flex flex-column h-full">
            <div class="flex align-items-center justify-content-between px-4 pt-3 flex-shrink-0">
                <span class="inline-flex align-items-center gap-2">

                    <span class="font-semibold text-2xl text-primary">Audio Active</span>
                </span>
                <span>

                </span>
            </div>
            <div class="overflow-y-auto">
                <ul class="list-none p-3 m-0">
                    <li (click)="navigateToPath('/home')" >
                        <a pRipple 
                            class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                            <i class="pi pi-home mr-2"></i>
                            <span class="font-medium">Home</span>
                        </a>
                    </li>

                    <!-- <li (click)="sidebarVisible = false">
                        <a pRipple routerLink="['/music/search']"
                            class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple text-decoration-none">
                            <i class="pi pi-search mr-2"></i>
                            <span class="font-medium">Search</span>
                        </a>
                    </li> -->

                    <li (click)="navigateToPath('/spotify/playlists')" >
                        <a pRipple
                            class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple text-decoration-none">
                            <i class="pi pi-headphones mr-2"></i>
                            <span class="font-medium">Playlists</span>
                        </a>
                    </li>

                    <li (click)="sidebarVisible = false">
                        <a pRipple routerLink="['/license/approved-license-list']"
                            class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple text-decoration-none">
                            <i class="pi pi-credit-card mr-2"></i>
                            <span class="font-medium">Manage Subscription</span>
                        </a>
                    </li>

                    <!-- <li (click)="navigateToPath('/spotify/consent')">
                        <a pRipple 
                            class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                            <i class="bi bi-spotify mr-2"></i>
                            <span class="font-medium">Spotify</span>
                        </a>
                    </li>

                    <li (click)="navigateToPath('/strava/consent')">
                        <a pRipple 
                            class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                            <i class="bi bi-strava mr-2"></i>
                            <span class="font-medium">Strava</span>
                        </a>
                    </li> -->

                    <li (click)="sidebarVisible = false">
                        <a pRipple
                            class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                            <i class="pi pi-cog mr-2"></i>
                            <span class="font-medium">Settings</span>
                        </a>
                    </li>

                    <li (click)="sidebarVisible = false">
                        <a pRipple (click)="logout()"
                            class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                            <i class="pi pi-sign-out mr-2"></i>
                            <span class="font-medium">Sign Out</span>
                        </a>
                    </li>

                    <!-- <li (click)="sidebarVisible = false">
                        <a pRipple
                            class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                            <i class="pi pi-sun mr-2" *ngIf="!dark"></i>
                            <i class="pi pi-moon mr-2" *ngIf="dark"></i>
                            <p-inputSwitch [(ngModel)]="dark" />
                        </a>
                            
                    </li> -->


                </ul>
            </div>
        </div>
    </ng-template>
</p-sidebar>

<p-toast></p-toast>
    <router-outlet />

