/* @import '../public/styles/themes/default.css';
@import '../public/styles/themes/dark.css';
@import '../public/styles/base.css'; */

body{
    background: rgb(245, 245, 245) !important;
    margin: 0;
}

.p-card .p-card-body {
    padding: 0 !important;
}

.p-card .p-card-content {
    padding: 0 !important;
}

.facebook-button{
    width: 250px;
}

.custom-password .p-input-icon-right > .p-inputtext{
    width: 350px;
}

.signin_mainpage.show-signup .login-card {
    opacity: 0;
    pointer-events: none;
}
.signin_mainpage .login-card{
    position: absolute;
    background: #FFF;
    background: #fff;
    border-radius: 6px;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}
.signin_mainpage .login-card .p-card{
    box-shadow: none;
}
.signin_mainpage p-card.register-card {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    background: #fff;
    border-radius: 6px;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}
.signin_mainpage.show-signup p-card.register-card {
    opacity: 1;
    pointer-events: auto;
}
.signin_mainpage p-card.register-card .p-card{
    box-shadow: none;
}
.anchor_btn button{
    padding: 0px;
    text-align: left;
}
.anchor_btn button:focus{
    box-shadow: none;
}

::ng-deep .btn-grp-custom button{
    outline: none;
    box-shadow: none;
}

.btn_grp_short{
    position: absolute;
    right: 0;
    top: 20px;
}
.playlist_pagetitle_section{
    position: relative;
}

.track_preview_dialog .p-dialog{
    box-shadow: none;
    background: transparent;
}
.track_preview_dialog .p-dialog-header {
    position: absolute;
    padding: 0;
    right: -15px;
    top: -15px;
    border-radius: 26px;
    width: 2rem;
    height: 2rem;
    text-align: center;
}
.track_preview_dialog .p-dialog-header-icons{
    width:2rem;
}
.track_preview_dialog .p-dialog-header-icons button{
    padding: 0;
    margin: 0 auto;
}

.track_preview_dialog .p-dialog-content {
    padding: 0;
    border-radius: 16px;
    border: 0px;
    background: transparent;
    transition: 0.2s linear;
}
.track_preview_dialog .p-dialog-content > div{
    height: 242px;
    overflow: hidden;
}
.track_preview_dialog .p-dialog-content iframe{
    width: 100%;
    border: 0px;
    height: 235px;
}













