body{
    background: rgb(245, 245, 245) !important;
    margin: 0;
}

.p-card .p-card-body {
    padding: 0 !important;
}

.p-card .p-card-content {
    padding: 0 !important;
}

.facebook-button{
    width: 250px;
}

.login-card{
    margin-left: 20px;
}

.custom-password .p-input-icon-right > .p-inputtext{
    width: 350px;
}
